<!DOCTYPE html>
<html lang="en">
<head>
    <title>Mars News U Can Use</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="style.css">
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>

    <h1>Mars: Wow</h1>
    <a href="/scrape">OMG new data</a>

    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-md-6">
            <img src="{{featured_image_url}}">
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h2>Weather:</h2>
                            {{ mars_weather }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <h2>News u can use:</h2>
                            <h3>{{ news_title }}</h3>
                            <p>{{ news_p }}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            {{ df_html_output|safe }}
                        </div>
                    </div>    
                </div>
                    
            </div>
        </div>
    
    

    

    

    {# a comment #}
</body>
</html>